inventory_hostname,name,type,status
{% for host in ansible_play_hosts_all %}
{% if hostvars[host]['ccc'] is defined %}
{% for connection in hostvars[host]['ccc'] %}
{{host}},{{connection['name'] }},{{connection['type'] }},{{connection['status']}}
{% endfor %}
{% endif %}
{% endfor %}