{% for node, services in ipv4.items() if node == inventory_hostname %}
{%  for service in services %}
{%  set interface = service.interface.split('.')[0] %}
{%  set vlan_id = service.interface.split('.')[1] %}
interface {{ interface }}.{{ vlan_id }}
 encapsulation dot1Q {{ vlan_id }}
 description "{{ service.customer }} {{ service.location }}"
 ip address {{ service.ip_p2p | ipaddr('first_usable') }} {{ service.ip_p2p | ipaddr('netmask') }}
!
ip route {{ service.ip_routed | ipaddr('network') }} {{ service.ip_routed | ipaddr('netmask') }} {{ service.ip_p2p | ipaddr('last_usable') }} 
!
{%  endfor %}
{% endfor %}
